.order-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--header-text);
  color: var(--card-text);
  font-weight: bolder;
  font-size: 1em;
  height: 50px;
  width: 70px;
  border: none;
  border-radius: 50px;
}
